

.text-buttom-soil{
    display: flex;
    justify-content: space-between;
          font-size: 25px;
          color: "#aaa";

}
          

.soil-moisture{
    padding: 1rem; /* p-3 */
    background-color: white; /* bg-white */
    border-radius: 30px; /* rounded */
    box-shadow: 0 0.3rem 0.40rem rgba(0, 0, 0, 0.5); /* shadow */
  
}

