.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.about-text{
  padding: 20px;
  border-radius: 10px;
  font-size: 35px;
  background: #eef1f1;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.info-text {
  background:#eef1f1;
  padding: 20px;
  border-radius: 10px;
  font-size: 32.5px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .info-text {
    font-size: 20px;
    text-align: justify;
  }
  .about-text{
    font-size: 20px;
    text-align: justify;
  }
}