.Title{
    text-align: center;
    color: rgb(8, 139, 45);
}
.about-text{
    padding-bottom: 32px;
    padding:30px;
    margin: 50px;
    font-size:19px;
    text-align: justify;
    background-color: rgb(222, 244, 244);
    border-radius: 20px;
}
.Hydrophonic {
  display: flex;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   
}
.Photo {
   align-items: left;
    margin: 0 auto;
  height: auto;
     max-width: 500px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Name {
  padding-top: 50px;
  padding-right: 100px;
  font-size:19px;
  padding-left: 70px;
  margin-left: 30px;
  text-align: justify;
  background-color: rgb(222, 244, 244);
  border-radius: 15px;
}


.about-container {
    animation: fadeIn 1.5s ease-out forwards;
  }
  .Photo:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}