




.about-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.about-text{
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
  background:hsl(180, 10%, 94%);
  margin-bottom: 60px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.info-text {
  background:hsl(180, 10%, 94%);
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .info-text {
    font-size: 20px;
    text-align: justify;
  }
  .about-text{
    font-size: 20px;
    text-align: justify;
  }
}

.contact-section{
  background-image:  linear-gradient(to top, rgb(230, 245, 221), rgba(192, 2, 2, 0)), url('../assets/footer img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax effect */
  text-align: center;
  color: white;
  padding: 100px 20px; /* Adds spacing */
  font-family: 'Arial', sans-serif;
}
.footer-text{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(105, 98, 98, 0.6); /* Adds readability */
}
.footer-text2{
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}