.background {
    background: linear-gradient(to bottom, #f8fceb, #e3f2d4);
    min-height: 100vh;
  
}

.soil-temp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  
}
.row1{
  height: 640px;
  align-items: center;
  justify-content: center;  
  display: flex;
  padding-top: 10px;
gap: 20px;

}


/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-grid {
    flex-direction: column;
    align-items: center;
  }
  .dashboard-container{
    align-items: center;
  }
  
}