.font{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 10px 20px;
}

.ms-auto{
  font-size: 23px;
}

.navbar-brand img {
  width: 40px;
  height: auto;
}

.navbar-toggler {
  border: none; /* Removes border from toggle button */
}

.navbar-nav {
  text-align: center; /* Aligns text in mobile view */
}

.navbar-nav .nav-link {
  padding: 10px;
  font-weight: bold;
}

@media (max-width: 991px) { 
  .navbar-collapse {
    background: #fff;
    padding: 10px;
    transition: background 0.3s ease-in-out;
    
  }
  .navbar-collapse:hover{
    background: #f8f9fa; /* Light gray background on hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow effect */
  }
}